<div class="row">
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">Update Groupe</div>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="updateGroupe(f.value)">
          <div class="form-group">
            <label class="control-label"> Role Name:</label>
            <input class="form-control" type="text" name="label" [(ngModel)]="groupe.label" required>
          </div>
          <button class="btn btn-danger" type="submit" >save</button>
        </form>
      </div>
    </div>
  </div>


</div>
