<div class="row col-md-6">
  <div>
    <br/>
    <div class="panel panel-default"></div>
    <div class="panel-heading" new user></div>
    <div class="panel-body">
      <form #f="ngForm" (ngSubmit)="onSaveUser(f.value)">
        <div class="form-group">
          <label class="control-label"> User Name:</label>
          <input class="form-control" type="text" name="userName" ngModel="" required>
          <label class="control-label"> Password:</label>
          <input class="form-control" type="text" name="password" ngModel="" required>
        </div>
        <button class="btn btn-danger" type="submit" >save</button>
      </form>
    </div>
  </div>
</div>
