<div class="row">
  <div class="col-md-6">
    <div class="panel">
      <div class="panel-heading" new user></div>
      <div class="panel-body">
        <form #f="ngForm" (ngSubmit)="onSaveUser(f.value)">
          <div class="form-group">
            <label class="control-label"> User Name:</label>
            <input class="form-control" type="text" name="userName" ngModel="" required>
            <label class="control-label"> Password:</label>
            <input class="form-control" type="text" name="password" ngModel="" required>
            <select ngModel=""  name="idRole">
              <option *ngFor="let r of roles" value={{r.idRole}} >{{r.roleName}}</option>
            </select>
          </div>


          <button class="btn btn-danger" type="submit" >save</button>
        </form>
      </div>
    </div>
  </div>

</div>
