<div class="container">
  <table class="table table-striped">

      <th>ID</th><th>User Name</th><th>Role</th><th>Action</th>
    <tr *ngFor="let u of users">
      <td><span *ngFor="let y of u.user">{{y.idUser}}<br></span> </td>
      <td><span *ngFor="let y of u.user">{{y.userName}}<br></span></td>
      <td>{{u.roleName}}</td>
      <td colspan="2">
        <button class="btn btn-default">Update</button>
        <button class="btn btn-default">Delete</button>
      </td>
    </tr>
  </table>
</div>
